@using Restaurant.ClassLibrary.UsersMgt
@using Restaurent.Models
@model SignUpModel
@{
    Layout = null;
    List<SelectListItem> objGender = ViewBag.Gender;
    List<SelectListItem> countries = new UsersHandler().GetCountries().ToSelectItemList();
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up Form</title>
    <link href='https://fonts.googleapis.com/css?family=Nunito:400,300' rel='stylesheet' type='text/css'>
    @*<link href="~/Content/SignUpStyleSheet.css" rel="stylesheet" />*@
    <link href="~/Content/Form.css" rel="stylesheet" />

</head>
   
<body>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 col-xl-12">
        <div id="signupToggle" class="container-fluid   " style="margin-left:37%; margin-top:50px">

            <div class="span5">

                <h1>Sign Up</h1>
                @if (Model == null)
                {

                    using (Html.BeginForm("SignUp", "Users", FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {


                        <fieldset>
                            @Html.TextBoxFor(m => m.FullName, new { @class = "form-control", placeholder = "Full Name" })
                            @Html.ValidationMessageFor(m => m.FullName, "", new { @class = "text-danger" })

                            @Html.TextBoxFor(m => m.LoginId, new { @class = "form-control", placeholder = "Username" })
                            @Html.ValidationMessageFor(m => m.LoginId, "", new { @class = "text-danger" })

                            @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Password" })
                            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })

                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "Email" })
                            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                            <div class="form-group">
                                <div class="input-group col-lg-4 col-md-4 col-sm-4">
                                    @Html.TextBoxFor(m => m.ContactNumber, new { @class = "form-control", placeholder = "Contact Number" })
                                    @Html.ValidationMessageFor(m => m.ContactNumber, "", new { @class = "text-danger" })
                                    @Html.TextBoxFor(m => m.Address, new { @class = "form-control", placeholder = "Street Address" })
                                    @Html.ValidationMessageFor(m => m.Address, "", new { @class = "text-danger" })

                                    <br />
                                </div>
                            </div>

                           

                                    <div id="country" >
                                        @Html.DropDownList("Countries", countries, "- Select Country -", new { @class = " dropdwn" })

                                        <small id="nationalityLabel"></small>

                                    </div>
                                    <br />
                                    <div id="province" >


                                    </div>
                                    <br />
                                    <div id="city" >


                                    </div>


                                <br />
                            <label for="bio">Date of Birth:</label>
                            <div class="form-group">
                                <div class="input-group col-lg-4 col-md-4 col-sm-4">

                                    @Html.TextBoxFor(m => m.BirthDate, "", new { @class = "form-control", type = "date", placeholder = "Date of Birth" })
                                </div>
                            </div>


                            <div class="form-group form-inline">
                                <label>Gender:</label>
                                @foreach (var t in objGender)
                                {
                                    <label style="font-weight:normal;padding-right:10px">@Html.RadioButtonFor(m => m.Gender, t.Value, t.Selected) @t.Text</label>

                                }

                            </div>
                            <div class="form-group" style="margin-top:30px">
                                <label>Image:</label>
                                <div class="col-md-5 col-sm-8">
                                    <div class="input-group">
                                        @Html.TextBoxFor(m => m.ImageUrl, new { type = "file" })

                                    </div>
                                </div>


                            </div>

                        </fieldset>






                        <div class="form-group">

                            <button id="signupBtn" type="submit">Sign Up</button>

                        </div>

                    }
                }
            </div>
        </div>



    </div>
    <script src="~/Scripts/jquery-1.9.1.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/RegistrationForm.js"></script>
</body>
</html>
 