@using Restaurant.ClassLibrary.ViewModel
@{
    UserVM user = (UserVM)Session[WebUtil.CurrentUser];
}

@{
    ViewBag.Title = "UserProfile";
    
    Layout = user.Role == "Teacher" ? "~/Views/Shared/_TeacherShared.cshtml" : "~/Views/Shared/_StudentShared.cshtml";
}

@section myLink{
    <script type="text/javascript" src="//code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="~/Content/UserProfile.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    @*<style>
        body {
            background-color: #f1deda
        }
    </style>*@
}


<div class="container pfl-wrapper" style="margin-top:100px;">
    <div class="profile-photo"> <img alt="User Pic" src="~/Images/user.png" class="img-responsive img-circle"> </div>
    <div class="profile-info">
        <h1><b style="color:#7a786b">@user.UserName</b> </h1>
    </div>

    <div style="text-align:center" class="container-fluid">
        <div class="row">
            <div class="   ">
                <button id="BtnModal" type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalLong">
                    Edit Profile
                </button>
                @*<a href="/users/logout" class="btn btn-danger">Logout</a>*@
            </div>
            <div class="col-xsm-12 col-smm-12 col-mdm-6 col-lgm-6 col-xsm-offset-0 col-smm-offset-0 col-mdm-offset-3 col-lgm-offset-3 toppad">


                <div class="panel panel-info bg-success">

                    <div class="panel-body" style="background-color: #f1deda; text-align:match-parent">
                        <div class="row">
                            <table class="table">
                                <tbody style="color:#5b5a54">
                                    <tr>
                                        <td><h4><b>Id</b></h4> </td>
                                        <td><small>@user.RegId</small></td>
                                    </tr>
                                    <tr>
                                        <td><h4><b>@user.Role Id</b></h4> </td>
                                        <td><h6>@user.FirstName</h6></td>

                                    </tr>

                                    <tr>
                                        <td><h4><b>First Name</b></h4> </td>
                                        <td><h4>@user.FirstName</h4></td>

                                    </tr>

                                    <tr>
                                    <tr>
                                        <td><h4><b>Last Name</b></h4> </td>
                                        <td><h4>@user.LastName</h4></td>

                                    </tr>
                                    <tr>
                                        <td><h4><b>Email</b></h4> </td>
                                        <td><h4><a href="#" style="text-decoration:none">@user.Email</a></h4></td>
                                    </tr>
                                    <tr>
                                        <td><h4><b>Phone Number</b></h4> </td>
                                        <td><h4><a href="#" style="text-decoration:none">@user.PhoneNumber</a></h4></td>

                                    </tr>
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    @using (Html.BeginForm("EditUserProfile", "Users", FormMethod.Post, new { id = "editform", enctype = "multipart/form-data" }))
    {

        <div class="modal-dialog container-fluid" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body ">
                    <h1 style="text-align:center">Edit Profile</h1>
                    <div id="signupToggle" class="container-fluid ">

                        <div class="form-group">
                            <div class="input-group ">
                                @Html.TextBox("Id", null, new { @class = "form-control hidden", required = "required", placeholder = "Id", Value = user.UserId })

                                <br />
                                <br />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group col-lgm-10  col-mdm-10  col-smm-10 ">
                                <label for="FirstName">First Name:</label>
                                @Html.TextBox("FirstName", null, new { @class = "form-control", type = "text", placeholder = "First Name", Value = user.FirstName })
                                <small id="fnameLabel"></small>
                                <br />
                                <br />
                            </div>
                        </div>
                        <div class="form-group ">
                            <div class="input-group col-lgm-10  col-mdm-10  col-smm-10 ">
                                <label for="Price">Last Name:</label>
                                @Html.TextBox("LastName", null, new { @class = "form-control", type = "text", required = "required", placeholder = "Password", Value = user.LastName })
                                <small id="passwordLabel"></small>
                                <br />
                                <br />
                            </div>
                        </div>

                        <div class="form-group ">
                            <div class="input-group col-lgm-10  col-mdm-10  col-smm-10 ">
                                <label for="Price">Email:</label>
                                @Html.TextBox("Email", null, new { @class = "form-control", type = "email", required = "required", placeholder = "Password", Value = user.Email })
                                <small id="passwordLabel"></small>
                                <br />
                                <br />
                            </div>
                        </div>

                        <div class="form-group ">
                            <div class="input-group col-lgm-12  col-mdm-12  col-smm-12 ">
                                <label for="Price">Contact # </label>
                                @Html.TextBox("Contact", null, new { @class = "form-control", type = "text", required = "required", placeholder = "Contact Number", Value    = user.PhoneNumber })
                                <small id="passwordLabel"></small>
                                <br />
                                <br />
                            </div>
                        </div>

                    </div>

                </div>
                <div class="modal-footer">
                    <button id="updateItem" type="submit" class="btn btn-primary">Save changes</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    }
</div>
