@using Restaurent.Models
@model IEnumerable<FeaturedRecipesModel>

@foreach (var m in Model)
{

    <div id="testproduct" class="product">
        <div class="info-large">
            <h6>@m.Id</h6>
            <h4>@m.Title</h4>
            <div class="sku">
                PRODUCT SKU: <strong>89356</strong>
            </div>
           @* @Html.TextBox("title", null, new { @class = "form-control", value = "@m.Title",  placeholder = "Title" })*@
            @*<input id="title" type="hidden" name="id" value="@m.Id" />*@
            <div class="price-big">
                <span>$43</span> $39
            </div>
            <button class="add-cart-large">Add To Cart</button>

        </div>
        <div class="make3D">
            <div class="product-front">
                <div class="shadow"></div>
                <img src="@Url.Content(m.ImageUrl)" alt="" />
                <div class="image_overlay"></div>
                <div class="add_to_cart">Add to cart</div>
                @*/products/viewdetails/@m.Id*@
                <div class="view_gallery">View Recipe</div>
                
                <div class="stats ">
                    <div class="stats-container ">
                        <span id="detailID" class="hidden product_id"><small>@m.Id</small></span>
                        <span class="product_price">@string.Format("Rs.{0:N0}/-", m.Price)</span>
                        <span class="product_name">@m.Title</span>

          
                    </div>
                </div>
            </div>

            <div class="product-back">
                <div class="shadow"></div>
                <div class="carousel">
                    <ul class="carousel-container">
                        <a id="button2" href="#" class="btn btn-default" data-modal="modal-name">View Details</a>
                        <li><img src="@m.ImageUrl" alt="" /></li>

                    </ul>
             
                </div>
                <div class="flip-back">
                    <div class="cy"></div>
                    <div class="cx"></div>
                </div>
            </div>
        </div>
    </div>
   
}