@using Restaurent.Models
@model ChefDetailExtrasModel

<span id="Calories">@Model.Calories</span>
<span id="Fat">@Model.Fat</span>
<span id="SaturatedFat">@Model.SaturatedFat</span>
<span id="TransFat">@Model.TransFat</span>
<span id="Cholestrol">@Model.Cholestrol</span>
<span id="Sodium">@Model.Sodium</span>
<span id="Carbohydrates">@Model.Carbohydrates</span>
<span id="Fiber">@Model.Fiber</span>
<span id="Sugar">@Model.Sugar</span>
<span id="Protein">@Model.Protein</span>

