@using Restaurant.ClassLibrary.PakClassified
@using Restaurant.ClassLibrary.UsersMgt
@using Restaurent.Models


@{
    List<SelectListItem> categories = new AdvertisementsHandler().GetCategories().ToSelectItemList();
    User user = (User)Session[WebUtil.CurrentUser];
}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>


    <link href="~/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/bootstrap-grid.min.css" rel="stylesheet" />
    <link href="~/css/bootstrap-reboot.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.min.css" rel="stylesheet" />
    <link href="~/Content/main.css" rel="stylesheet" />
  
    <link href="https://fonts.googleapis.com/css?family=Allura" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700' rel='stylesheet' type='text/css'>
    


    @RenderSection("myLink", false)
</head>
<body>
   
    <!-- Navbar (sit on top) -->

    <div class="w3-top bg-warning" style="opacity:0.85">
        <div class="w3-bar" id="myNavbar">
            <div style="padding-bottom:30px; padding-top:10px">
                <a class="w3-bar-item w3-button w3-hover-black w3-hide-medium w3-hide-large w3-right" href="javascript:void(0);" onclick="toggleFunction()" title="Toggle Navigation Menu">
                    <i class="fa fa-bars"></i>
                </a>
                <a class="w3-bar-item  nav-link" href="/Home/Home">
                    <img class="" style="width:100px;height:50px;margin:0px; padding:0px" src="~/Images/Cafe/logo_wayback_dark-outline.png">
                </a>
                <a href="/Home/Home" class="w3-bar-item w3-button nav-link w3-animate-left"><i class="fa fa-home" style="padding:10px"></i>HOME</a>
                <a href="/Home/AboutUs" class="w3-bar-item w3-button w3-hide-small nav-link w3-animate-left"><i class="fa fa-address-book" style="padding:10px"></i> ABOUT</a>            
                <a href="/Home/ByCategory" class="w3-bar-item w3-button w3-hide-small nav-link w3-animate-left"><i class="fa fa-cutlery" style="padding:10px"></i> MENU</a>  
                <a href="/Home/ContactUs" class="w3-bar-item w3-button w3-hide-small nav-link w3-animate-left" ><i class="fa fa-envelope" style="padding:10px"></i> CONTACT</a>
               
                @if (user == null)
                {
                    <a href="/users/login" class="w3-bar-item w3-button w3-hide-small w3-right w3-hover-red nav-link w3-hover w3-animate-right" ><i class="fa fa-sign-in" style="padding:10px 0px"></i> Login</a>
                    <a href="/users/Signup" class="w3-bar-item w3-button w3-hide-small w3-right w3-hover-red nav-link w3-hover w3-animate-right" ><i class="fa fa-user-circle-o" style="padding:10px 0px"></i> Sign Up</a>
                }
                else
                {
                   
                    <a href="#" class="dropdown-toggle w3-bar-item w3-button w3-hide-small w3-right w3-hover-red nav-link w3-hover w3-animate-right" data-toggle="dropdown" ><i class="fa fa-user"style="padding:10px 0px;margin-right:5px"></i> @user.FullName</a>
                        <ul class="dropdown-menu dropdown-menu-right" style="text-align:center">
                            <li><a href="/home/orderhistory" style="text-decoration:none; color:darkslategrey; padding:5px"><i class="fa fa-history"></i> Order History</a></li>
                            <li><a href="/users/userprofile" style="text-decoration:none; color:darkslategrey; padding:5px" ><i class="fa fa-user"></i> My Profile</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="/users/logout" style="text-decoration:none; color:darkslategrey; padding:5px"><i class="fa fa-sign-out"></i> Logout</a></li>
                        </ul>
                    
                  
                }

            </div>
        </div>
        <!-- Navbar on small screens -->
        <div id="navDemo" class="w3-bar-block w3-white w3-hide w3-hide-large w3-hide-medium">
            <a href="/Home/AboutUs" class="w3-bar-item w3-button" onclick="toggleFunction()"><i class="fa fa-address-book" style="padding:10px"></i>About</a>
            <a href="/Home/ByCategory" class="w3-bar-item w3-button" onclick="toggleFunction()"><i class="fa fa-cutlery" style="padding:10px"></i>Menu</a>
            <a href="/Home/ContactUs" class="w3-bar-item w3-button" onclick="toggleFunction()"><i class="fa fa-envelope" style="padding:10px"></i>Contact</a>
        </div>
    </div>

    @RenderBody()
    <footer id="mainFooter" class="bg-dark">
        <div class="footer-left">
            <a class="vertical-logo-container" href="#">
                <img class="" style="width:150px;height:150px;margin-top:0px" src="~/Images/Front images/logo.png">
            </a>
        </div>
        <div class="footer-right">
            <ul class="social-nav">
                <li style="color:dimgrey">Follow Us</li>
                <li class="icon-bubble"><a href="https://www.facebook.com" target="_blank"><i class="fa fa-facebook"></i><span class="hidden">Netflix on Facebook</span></a></li>
                <li class="icon-bubble"><a href="https://twitter.com" target="_blank"><i class="fa fa-twitter"></i><span class="hidden">Netflix on Twitter</span></a></li>
                <li class="icon-bubble"><a href="https://instagram.com" target="_blank"><i class="fa fa-instagram"></i><span class="hidden">Netflix on Instagram</span></a></li>
                <li class="icon-bubble"><a href="https://youtube.com" target="_blank"><i class="fa fa-youtube-play"></i><span class="hidden">Netflix on Instagram</span></a></li>
                <li class="icon-bubble"><a href="https://snapchat.com" target="_blank"><i class="fa fa-snapchat-ghost"></i><span class="hidden">Netflix on Instagram</span></a></li>
            </ul>
            <ul class="legal-nav">
                <li><a href="/Home/AboutUs">About Us</a></li>
                <li><a href="/Home/AboutUs" target="_blank">Ad Choices</a></li>
                <li><a href="/Home/AboutUs" target="_blank">Terms Of Service</a></li>
                <li><a href="/Home/ContactUs" target="_blank">Contact Us</a></li>
                <li><a href="/Home/AboutUs" target="_blank">Privacy Policy</a></li>
                <li style="color:dimgrey">CopyRight © 2018 Digital All Rights Reserved</li>
            </ul>
        </div>
    </footer>
    <script src="~/Scripts/jquery-3.2.1.min.js"></script>
    <script src="~/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/vanilla_tilt.min.js"></script>
    <script>
        function myMap() {
            myCenter = new google.maps.LatLng(41.878114, -87.629798);
            var mapOptions = {
                center: myCenter,
                zoom: 12, scrollwheel: false, draggable: false,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            };
            var map = new google.maps.Map(document.getElementById("googleMap"), mapOptions);

            var marker = new google.maps.Marker({
                position: myCenter,
            });
            marker.setMap(map);
        }

        // Modal Image Gallery
        function onClick(element) {
            document.getElementById("img01").src = element.src;
            document.getElementById("modal01").style.display = "block";
            var captionText = document.getElementById("caption");
            captionText.innerHTML = element.alt;
        }

        // Change style of navbar on scroll
        window.onscroll = function () { myFunction() };
        function myFunction() {
            var navbar = document.getElementById("myNavbar");
            if (document.body.scrollTop > 100 || document.documentElement.scrollTop > 100) {
                navbar.className = "w3-bar" + " w3-card" + " w3-animate-top" + " w3-white";
            } else {
                navbar.className = navbar.className.replace(" w3-card w3-animate-top w3-white", "");
            }
        }


        // Used to toggle the menu on small screens when clicking on the menu button
        function toggleFunction() {
            var x = document.getElementById("navDemo");
            if (x.className.indexOf("w3-show") == -1) {
                x.className += " w3-show";
            } else {
                x.className = x.className.replace(" w3-show", "");
            }
        }
        function w3_open() {
            if (mySidebar.style.display === 'block') {
                mySidebar.style.display = 'none';
            } else {
                mySidebar.style.display = 'block';
            }
        }

        // Close the sidebar with the close button
        function w3_close() {
            mySidebar.style.display = "none";
        }
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.6/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>

  
   
    @RenderSection("myScript", false)
  
</body>
</html>
