@using Restaurant.ClassLibrary.PakClassified
@using Restaurant.ClassLibrary.UsersMgt
@using Restaurent.Models
@{
    List<SelectListItem> categories = new AdvertisementsHandler().GetCategories().ToSelectItemList();
    User user = (User)Session[WebUtil.CurrentUser];
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <meta charset='UTF-8'>
    <meta name="robots" content="noindex">
    <link rel="shortcut icon" type="image/x-icon" href="//production-assets.codepen.io/assets/favicon/favicon-8ea04875e70c4b0bb41da869e81236e54394d63638a1ef12fa558a4a835f1164.ico" />
    <link rel="mask-icon" type="" href="//production-assets.codepen.io/assets/favicon/logo-pin-f2d2b6d2c61838f7e76325261b7195c27224080bc099486ddd6dccb469b8e8e6.svg" color="#111" />
    <link rel="canonical" href="https://codepen.io/jaca90/pen/vZJZMx?depth=everything&order=popularity&page=10&q=statistics&show_forks=false" />
    <link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css'>
    <link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/css/bootstrap.min.css'>
    <link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css'>
    <link href="~/Content/AdminStyleSheet.css" rel="stylesheet" />

    @RenderSection("myLink", false)
</head>
<body id="adminbody" class="sidebar-is-reduced">
    <header class="l-header">
        <div class="l-header__inner clearfix">
            <div class="c-header-icon js-hamburger">
                <div class="hamburger-toggle"><span class="bar-top"></span><span class="bar-mid"></span><span class="bar-bot"></span></div>
            </div>
            <div class="c-header-icon has-dropdown">
                <span class="c-badge c-badge--header-icon animated shake">21</span><i class="fa fa-bell"></i>
                <div class="c-dropdown c-dropdown--notifications">
                    <div class="c-dropdown__header">ADMIN PANEL</div>
                    <div class="c-dropdown__content">ADMIN PANEL</div>
                </div>
            </div>
            <div class="c-search">
                @*<input class="c-search__input u-input" placeholder="Search..." type="text" />*@
                <div style="text-align:center; margin-top:10px; margin-left:450px" class="c-search"><h2><b><span class="glyphicon glyphicon-user"></span> ADMIN</b></h2></div>

            </div>
            <div class="header-icons-group">
                @*<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-user"></span> @currentUser.FullName <span class="caret"></span></a>*@
                <div class="c-header-icon basket">@*<span class="glyphicon glyphicon-user"></span>*@<h5 style="margin-left:5px; text-align:center"> @user.FullName</h5></div>
                <div class="c-header-icon logout"><a href="/users/logout"><i class="fa fa-power-off"></i></a></div>
            </div>
        </div>
    </header>
    <div class="l-sidebar">
        <div class="logo">
            <div class="logo__txt">D</div>
        </div>
        <div class="l-sidebar__content">
            <nav class="c-menu js-menu">
                <ul class="u-list">

                    <li class="c-menu__item is-active" data-toggle="tooltip" title="DASHBOARD">
                        <a href="/ADMIN/DASHBOARD">
                            <div class="c-menu__item__inner">
                                <i class="fa fa-plane"></i>
                                <div class="c-menu-item__title"><span>DASHBOARD</span></div>
                            </div>

                        </a>



                    </li>
                    @*<li class="c-menu__item has-submenu" data-toggle="tooltip" title="Modules">
                            <div class="c-menu__item__inner">
                                <i class="fa fa-puzzle-piece"></i>
                                <div class="c-menu-item__title"><span>Modules</span></div>
                                <div class="c-menu-item__expand js-expand-submenu"><i class="fa fa-angle-down"></i></div>
                            </div>
                            <ul class="c-menu__submenu u-list">
                                <li>Payments</li>
                                <li>Maps</li>
                                <li>Notifications</li>
                            </ul>
                        </li>*@
                    <li class="c-menu__item has-submenu" data-toggle="tooltip" title="Add Products">
                        <a href="/Admin/UserManagement">
                            <div class="c-menu__item__inner">
                                <i class="fa fa-bar-chart"></i>

                                <div class="c-menu-item__title"><span>Add Products</span></div>
                            </div>
                        </a>
                    </li>
                    <li class="c-menu__item has-submenu" data-toggle="tooltip" title="Manage Items">
                        <a href="/Admin/ClassManagement">
                            <div class="c-menu__item__inner">
                                <i class="fa fa-cogs"></i>
                                <div class="c-menu-item__title"><span>Manage Items</span></div>
                            </div>
                        </a>
                    </li>
                    <li class="c-menu__item has-submenu" data-toggle="tooltip" title="Statistics">
                        <a href="/Admin/SubjectManagement">
                            <div class="c-menu__item__inner">
                                <i class="fa fa-bar-chart"></i>
                                <div class="c-menu-item__title"><span>Statistics</span></div>
                            </div>
                        </a>
                    </li>
                    <li class="c-menu__item has-submenu" data-toggle="tooltip" title="Feedbacks">
                        <a href="/Products/UserFeedback">
                            <div class="c-menu__item__inner">
                                <i class="fa fa-puzzle-piece"></i>
                                <div class="c-menu-item__title"><span>Feedbacks</span></div>
                                @*<div class="c-menu-item__expand js-expand-submenu"><i class="fa fa-angle-down"></i></div>*@
                            </div>
                        </a>
                        @*<ul class="c-menu__submenu u-list">
                                <li>Payments</li>
                                <li>Maps</li>
                                <li>Notifications</li>
                            </ul>*@
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    @RenderBody()
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.13.0/moment.min.js"></script>

    <script src="~/Scripts/jquery-3.2.1.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    @*<script src="~/js/bootstrap.bundle.min.js"></script>*@
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/js/bootstrap-datetimepicker.min.js"></script>
    <script src='https://production-assets.codepen.io/assets/common/stopExecutionOnTimeout-b2a7b3fe212eaa732349046d8416e00a9dec26eb7fd347590fbced3ab38af52e.js'></script>
    <script src='https://use.fontawesome.com/2188c74ac9.js'></script>
    <script>
        "use strict";

        var Dashboard = function () {
            var global = {
                tooltipOptions: {
                    placement: "right"
                },
                menuClass: ".c-menu"
            };

            var menuChangeActive = function menuChangeActive(el) {
                var hasSubmenu = $(el).hasClass("has-submenu");
                $(global.menuClass + " .is-active").removeClass("is-active");
                $(el).addClass("is-active");

                // if (hasSubmenu) {
                // 	$(el).find("ul").slideDown();
                // }
            };

            var sidebarChangeWidth = function sidebarChangeWidth() {
                var $menuItemsTitle = $("li .menu-item__title");

                $("body").toggleClass("sidebar-is-reduced sidebar-is-expanded");
                $(".hamburger-toggle").toggleClass("is-opened");

                if ($("body").hasClass("sidebar-is-expanded")) {
                    $('[data-toggle="tooltip"]').tooltip("destroy");
                } else {
                    $('[data-toggle="tooltip"]').tooltip(global.tooltipOptions);
                }
            };

            return {
                init: function init() {
                    $(".js-hamburger").on("click", sidebarChangeWidth);

                    $(".js-menu li").on("click", function (e) {
                        menuChangeActive(e.currentTarget);
                    });

                    $('[data-toggle="tooltip"]').tooltip(global.tooltipOptions);
                }
            };
        }();

        Dashboard.init();
//# sourceURL=pen.js
    </script>
    @RenderSection("myScript", false)

</body>
</html>

