@using Restaurant.ClassLibrary.PakClassified
@using Restaurant.ClassLibrary.UsersMgt
@using Restaurent.Models
@model DashboardModel
@{
    ViewBag.Title = "Admin";
    Layout = "~/Views/Shared/_AdminLayoutPage.cshtml";
}

@section myLink{

    <link href="~/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/bootstrap-grid.min.css" rel="stylesheet" />
    <link href="~/css/bootstrap-reboot.min.css" rel="stylesheet" />
    <link href="~/content/bootstrap-theme.min.css" rel="stylesheet" />
    @*<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css" rel='stylesheet' type='text/css'>*@
<link href="~/Content/Admincss/CloudeFlareAwesomeFont440StyleSheet.css" rel="stylesheet" />
    <link href="~/Content/DashBoardStyleSheet.css" rel="stylesheet" />

}


<div style="margin-top:70px" class="progressDiv">
    <div class="statChartHolder">
        <div class="progress-pie-chart" data-percent=@Model.OrderRatio>
            <!--Pie Chart -->
            <div class="ppc-progress">
                <div class="ppc-progress-fill"></div>
            </div>
            <div class="ppc-percents">
                <div class="pcc-percents-wrapper">
                    <span>%</span>
                    <h4>Orders Delivered</h4>

                </div>
            </div>
        </div><!--End Chart -->
    </div>
    <div class="statRightHolder">
        <ul>
            <li> <h3 class="blue">@Model.TodaysRev</h3> <span>Income Today</span></li>
            <li> <h3 class="purple">@Model.TodOrdersDelivered</h3> <span>Orders Delivered Today</span></li>
        </ul>

        <ul class="statsLeft">
            <li><h3 class="yellow">@Model.TotalRev</h3> <span>Overall Income</span></li>
            <li><h3 class="red">@Model.AllOrders</h3> <span>Overall Orders</span></li>
        </ul>
        <ul class="statsRight">
            <li><h3>@Model.TodOrders</h3> <span>Orders Recieved Today</span></li>
            <li><h3>@Model.Customers</h3> <span>Registered Customers</span></li>
        </ul>
    </div>

</div>

@section myScript{
<script src="~/Scripts/ajaxLibs1112JavaScript.js"></script>
<script>
    $(function () {
        var $ppc = $('.progress-pie-chart'),
            percent = parseInt($ppc.data('percent')),
            deg = 360 * percent / 100;
        if (percent > 50) {
            $ppc.addClass('gt-50');
        }
        $('.ppc-progress-fill').css('transform', 'rotate(' + deg + 'deg)');
        $('.ppc-percents span').html(percent + '%');
    });

</script>
}