@using Restaurant.ClassLibrary.UsersMgt
@using Restaurent.Models
@model IEnumerable<CheckoutModel>
@{
    Layout = null;
    float a = 0;

    float Calo = 0;
    float Fats = 0;
    float Satu = 0;
    float Tran = 0;
    float Chol = 0;
    float Sodi = 0;
    float Carb = 0;
    float Fibe = 0;
    float Suga = 0;
    float Prot = 0;
    User user = (User)Session[WebUtil.CurrentUser];


}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Checkout</title>
    <link href="https://fonts.googleapis.com/css?family=Merriweather" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Titillium+Web" rel="stylesheet">
    <link href="~/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/bootstrap-grid.min.css" rel="stylesheet" />
    <link href="~/css/bootstrap-reboot.min.css" rel="stylesheet" />
    <link href="~/content/bootstrap-theme.min.css" rel="stylesheet" />
    <link href="~/Content/TestStyleSheet.css" rel="stylesheet" />

</head>
<body>


    <header id="site-header">
        <div class="container">
            <h1 style="color:crimson; font-family: 'Titillium Web', sans-serif;text-align:center; font-size:50px">Food Cart</h1>
        </div>
    </header>

    <div class="container">

        <section id="productcart">

            @try
            {
                foreach (var m in Model)
                {

                    a += m.Price;

                    Calo += m.Calories;
                    Fats += m.Fat;
                    Satu += m.SaturatedFat;
                    Tran += m.TransFat;
                    Chol += m.Cholestrol;
                    Sodi += m.Sodium;
                    Carb += m.Carbohydrates;
                    Fibe += m.Fiber;
                    Suga += m.Sugar;
                    Prot += m.Protein;

                    <article class="product">
                        <header>
                            <a data-id=@m.CartItemId href="#" class="remove" style="text-decoration:none">
                                <img style="background-color:white" src="@m.ImageUrl" alt="@m.Title">

                                <h3>Remove product</h3>
                            </a>
                        </header>

                        <div class="content">

                            <h1>@m.Title</h1>
                            @try
                            {
                                <b style="margin-right:15px">Extra(s)</b>
                                foreach (var e in m.ItemExtras)
                                {
                                    <span><em style="margin-left:5px">|</em><span style="margin-left:5px"> @e.Name</span></span>
                                }
                            }
                            catch (Exception)
                            {
                                <b style="margin-right:15px">No Extras</b>
                            }

                            <div title="You have selected this product to be shipped in the color yellow." style="top: 0" class="color yellow"></div>
                            <div style="top: 43px" class="type small">@@</div>
                        </div>

                        <footer class="content">
                            <span class="qt-minus">-</span>
                            <span class="qt">1</span>
                            <span class="qt-plus">+</span>

                            <h2 class="full-price">
                                @m.Price/-
                            </h2>

                            <h2 class="price">
                                @m.Price/-
                            </h2>

                            @*single product*@
                           
                                <span style="visibility:hidden" class="full-Calories">@m.Calories</span>
                                <span style="visibility:hidden" class="full-Fat">@m.Fat</span>
                                <span style="visibility:hidden" class="full-SaturatedFat">@m.SaturatedFat</span>
                                <span style="visibility:hidden" class="full-TransFat">@m.TransFat</span>
                                <span style="visibility:hidden" class="full-Cholestrol">@m.Cholestrol</span>
                                <span style="visibility:hidden" class="full-Sodium">@m.Sodium</span>
                                <span style="visibility:hidden" class="full-Carbohydrates">@m.Carbohydrates</span>
                                <span style="visibility:hidden" class="full-Fiber">@m.Fiber</span>
                                <span style="visibility:hidden" class="full-Sugar">@m.Sugar</span>
                                <span style="visibility:hidden" class="full-Protein">@m.Protein</span>
                         

                            @*multiple products*@
                       

                                <span style="visibility:hidden" class="Calories">@m.Calories</span>
                                <span style="visibility:hidden" class="Fat">@m.Fat</span>
                                <span style="visibility:hidden" class="SaturatedFat">@m.SaturatedFat</span>
                                <span style="visibility:hidden" class="TransFat">@m.TransFat</span>
                                <span style="visibility:hidden" class="Cholestrol">@m.Cholestrol</span>
                                <span style="visibility:hidden" class="Sodium">@m.Sodium</span>
                                <span style="visibility:hidden" class="Carbohydrates">@m.Carbohydrates</span>
                                <span style="visibility:hidden" class="Fiber">@m.Fiber</span>
                                <span style="visibility:hidden" class="Sugar">@m.Sugar</span>
                                <span style="visibility:hidden" class="Protein">@m.Protein</span>
                         


                        </footer>
                    </article>
                }
            }
            catch (Exception)
            {
                <h1 id="emptycart">No Product!</h1>
                <a href="/Home/ByCategory" class=""><h6>Place New Order</h6></a> 


            }
            

            @{
                var sCharges = 50;
                if (a == 0)
                {
                    sCharges = 0;
                }
                var percent = Math.Round((a * 0.05 * 100) / 100);
                var total = (a + percent + sCharges);
            }


        </section>

    </div>

    <footer id="site-footer">
        <div class="container-fluid clearfix">

                <h1 style="text-align:center"><b>Nutrition Information</b></h1>
                <table class="table" style="border:solid">
                    <thead class="thead-light">
                        <tr style="color:crimson; font-family: 'Titillium Web', sans-serif; font-size:18px; text-align:center">
                            <th style="border-right:solid">Calories <small>(g)</small></th>
                            <th style="border-right:solid">Fat <small>(g)</small></th>
                            <th style="border-right:solid">SaturatedFat <small>(g)</small></th>
                            <th style="border-right:solid">Trans Fat <small>(g)</small></th>
                            <th style="border-right:solid">Cholestrol <small>(g)</small></th>
                            <th style="border-right:solid">Sodium <small>(g)</small></th>
                            <th style="border-right:solid">Carbohydrates <small>(g)</small></th>
                            <th style="border-right:solid">Fiber <small>(g)</small></th>
                            <th style="border-right:solid">Sugar <small>(g)</small></th>
                            <th style="">Protein <small>(g)</small></th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr style="color:crimson; font-family: 'Titillium Web', sans-serif; font-size:35px">
                            <td style="border-width:1px 1px 1px 1px; border-right:groove; text-align:center" class="totalCalories"><span>@Calo</span></td>
                            <td style="border-width:1px 1px 1px 1px; border-right:groove; text-align:center" class="total-Fat"><span>@Fats</span></td>
                            <td style="border-width:1px 1px 1px 1px; border-right:groove; text-align:center" class="total-SaturatedFat">@Satu</td>
                            <td style="border-width:1px 1px 1px 1px; border-right:groove; text-align:center" class="total-TransFat">@Tran</td>
                            <td style="border-width:1px 1px 1px 1px; border-right:groove; text-align:center" class="total-Cholestrol">@Chol</td>
                            <td style="border-width:1px 1px 1px 1px; border-right:groove; text-align:center" class="total-Sodium">@Sodi</td>
                            <td style="border-width:1px 1px 1px 1px; border-right:groove; text-align:center" class="total-Carbohydrates">@Carb</td>
                            <td style="border-width:1px 1px 1px 1px; border-right:groove; text-align:center" class="total-Fiber">@Fibe</td>
                            <td style="border-width:1px 1px 1px 1px; border-right:groove; text-align:center" class="total-Sugar">@Suga</td>
                            <td style="text-align:center" class="total-Protein">@Prot</td>
                        </tr>


                    </tbody>
                </table>
           

      
            <div class="left">
                <h2 class="subtotal">Subtotal: Rs. <span>@a</span>/-</h2>
                <h3 class="tax">Taxes (5%): Rs. <span>@percent</span>/-</h3>
                <h3 class="shipping">Delivery Charges: Rs. <span>@sCharges</span>/-</h3>
            </div>

            <div class="right">
                <h1 class="total">Total: Rs. <span>@total</span>/-</h1>
                <a id="checkout" href="/Paypal/PaymentWithPaypal" class="btn">Checkout</a>
            </div>

        </div>
    </footer>

    @using (Html.BeginForm("AddTotalPrice", "Products", FormMethod.Post, new { id = "priceform", enctype = "multipart/form-data" }))
    {
        <div id="total_price"></div>
        <div id="quantity"></div>
    }

    <script src="~/Scripts/jquery-3.2.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/Cloudflare1126popper.js"></script>
    <script src="~/Scripts/BS400beta2JavaScript.js"></script>
    <script src="~/Scripts/Checkout.js"></script>
    
</body>
</html>
