@using Restaurent.Models
@model AddProductModel
@{
    ViewBag.Title = "AddProduct";
    Layout = "~/Views/Shared/_AdminLayoutPage.cshtml";
}
@section myLink{

    <link href="~/Content/AdProdStyleSheet.css" rel="stylesheet" />
}


<div class="container" style="margin-top:30px">
    <div class="row">
        <h4>Post a Job</h4>
        <div class="col col-md-2"></div>
        <div class="col col-md-8">

            @if (Model == null)
            {
                using (Html.BeginForm("AddProduct", "Products", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#GenralPane" data-toggle="tab">General</a></li>
                        <li><a href="#DescriptionPane" data-toggle="tab">Nutrition Info</a></li>
                        <li><a href="#ImagePane" data-toggle="tab">Ingredients</a></li>
                    </ul>

                    <div class="tab-content">
                        <div id="GenralPane" class="tab-pane mytabpane active">
                            <div class="form-group required">
                                <label for="exampleInputEmail1" class='control-label'>Recipe Title</label>
                                @Html.TextBoxFor(m => m.Title, new { @class = "form-control"})
                                @Html.ValidationMessageFor(m => m.Title, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group required">
                                <label for="Price" class='control-label'>Rs.</label>
                                @Html.TextBoxFor(m => m.Price, new { @class = "form-control", type = "number" })
                                @Html.ValidationMessageFor(m => m.Price, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group required">
                                <label for="exampleSelect1" class='control-label'>Recipe Category</label>
                                @Html.DropDownListFor(m => m.Category, (IEnumerable<SelectListItem>)ViewBag.Categories, "- Select Category -", new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.Category, "", new { @class = "text-danger" })

                            </div>

                            <div class="form-group required">
                                <label for="exampleTextarea" class='control-label'>Description</label>
                                @Html.TextAreaFor(m => m.Description, new { @class = "form-control", rows = 3, placeholder = "Recipe Details" })
                                @Html.ValidationMessageFor(m => m.Description, "", new { @class = "text-danger" })
                            </div>


                            <div class="form-group">
                                <label for="exampleInputFile">Recipe Image</label>
                                @*<input type="file" class="form-control-file" id="file1" name="photo1" aria-describedby="fileHelp">*@
                                @Html.TextBoxFor(m => m.Image, new { @class = "form-control-file", type = "file" })
                               
                            </div>
                            <div class="form-group form-inline">
                                <label for="exampleInputFile">Status</label>
                                @foreach (var item in (List<SelectListItem>)ViewBag.AdvTypes)
                                {
                                    <label style="font-weight:normal;padding-right:10px;"> @Html.RadioButtonFor(m=>m.Status, item.Value, item.Selected) @item.Text</label>
                                }
                            </div>

                            <div class="form-group required">

                                <div class="form-check form-check-inline">
                                    <label class="form-check-label">
                                        <label style="font-weight:normal">@Html.CheckBoxFor(m=>m.IsFeatured) Featured</label>&nbsp;&nbsp;
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div id="DescriptionPane" class="tab-pane mytabpane">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-7">
                                        <div class="contact_form">
                                            <h3 class="heading"><strong>Nutrition</strong> Information <span></span></h3>
                                            <div class="con_form">
                                                @*@Html.TextBox("Fiber", null, new { @class = "con_txt", type = "number", placeholder = "Fiber" })*@
                                                @Html.TextBoxFor(m => m.Calories, new { @class = "con_txt", type = "number", placeholder= "Calories" })
                                                @Html.ValidationMessageFor(m => m.Calories, "", new { @class = "text-danger" })
                                                @Html.TextBoxFor(m => m.Fat, new { @class = "con_txt", type = "number", placeholder = "Fat" })
                                                @Html.ValidationMessageFor(m => m.Fat, "", new { @class = "text-danger" })
                                                @Html.TextBoxFor(m => m.SaturatedFat, new { @class = "con_txt", type = "number", placeholder = "Saturated Fat" })
                                                @Html.ValidationMessageFor(m => m.SaturatedFat, "", new { @class = "text-danger" })
                                                @Html.TextBoxFor(m => m.TransFat, new { @class = "con_txt", type = "number", placeholder = "Trans Fat" })
                                                @Html.ValidationMessageFor(m => m.TransFat, "", new { @class = "text-danger" })
                                                @Html.TextBoxFor(m => m.Cholestrol, new { @class = "con_txt", type = "number", placeholder = "Cholestrol" })
                                                @Html.ValidationMessageFor(m => m.Cholestrol, "", new { @class = "text-danger" })
                                                @Html.TextBoxFor(m => m.Sodium, new { @class = "con_txt", type = "number", placeholder = "Sodium" })
                                                @Html.ValidationMessageFor(m => m.Sodium, "", new { @class = "text-danger" })
                                                @Html.TextBoxFor(m => m.Carbohydrates, new { @class = "con_txt", type = "number", placeholder = "Carbohydrates" })
                                                @Html.ValidationMessageFor(m => m.Carbohydrates, "", new { @class = "text-danger" })
                                                @Html.TextBoxFor(m => m.Fiber, new { @class = "con_txt", type = "number", placeholder = "Fiber" })
                                                @Html.ValidationMessageFor(m => m.Fiber, "", new { @class = "text-danger" })
                                                @Html.TextBoxFor(m => m.Sugar, new { @class = "con_txt", type = "number", placeholder = "Sugar" })
                                                @Html.ValidationMessageFor(m => m.Sugar, "", new { @class = "text-danger" })
                                                @Html.TextBoxFor(m => m.Protein, new { @class = "con_txt", type = "number", placeholder = "Protein" })
                                                @Html.ValidationMessageFor(m => m.Protein, "", new { @class = "text-danger" })

                                              
                                            </div>

                                        </div>


                                    </div>
                                </div>
                            </div>
                        </div>

                        <div id="ImagePane" class="tab-pane mytabpane">

                        </div>
                    </div>


                    <ul class="media-date text-uppercase reviews list-inline">
                        <li class="mm"><button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-floppy-disk"></span> Save</button></li>
                        <li class="mm"><button type="reset" class="btn btn-default"> <span class="glyphicon glyphicon-remove"></span> Cancel</button></li>

                    </ul>
                }
            }
        </div>

    </div>
</div>

