@using Restaurant.ClassLibrary.PakClassified
@using Restaurant.ClassLibrary.UsersMgt
@using Restaurent.Models
@model IEnumerable<ChefOrderModel>
@{
    ViewBag.Title = "Orders";
    Layout = "~/Views/Shared/_ChefLayoutPage.cshtml";
    var a = 1;
    List<ChefOrderModel> oOrders = ViewBag.AllOrders;
    List<ChefDetailExtrasModel> oExtras = ViewBag.AllExtras;

}

@section myLink{

<link href="~/css/bootstrap.min.css" rel="stylesheet" />
<link href="~/css/bootstrap-grid.min.css" rel="stylesheet" />
<link href="~/css/bootstrap-reboot.min.css" rel="stylesheet" />
<link href="~/content/bootstrap-theme.min.css" rel="stylesheet" />
@*<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css" rel='stylesheet' type='text/css'>*@
<link href="~/Content/Admincss/CloudeFlareAwesomeFont440StyleSheet.css" rel="stylesheet" />

<link href="~/Content/OrderStyleSheet.css" rel="stylesheet" />
   
}

<div style="margin-top:70px" class="container">

    <button id="BtnModal" type="button" class="btn btn-primary hidden" data-toggle="modal" data-target="#exampleModalLong">
        Launch demo modal
    </button>

    <div class="container">     
       
            <h1 style="color:darkslategrey"><b>Orders</b></h1>
            <div class="panel-group wrap" id="accordion" role="tablist" aria-multiselectable="true">
               @foreach (var m in Model)
               {
                   var b = 1;
                <div class="panel">
                    <div class="panel-heading" role="tab" id="heading-@a">
                        <h4 class="panel-title">
                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse-@a" aria-expanded="false" aria-controls="collapse-@a">
                                @*@a.  Name: @m.UserName <span style="margin-left:20px">@m.dateTime</span>       <span style="margin-left:100px">Address: <small style="color:antiquewhite">@m.Address</small></span> <span style="margin-left:50px">Status:<small style="color:antiquewhite"> @m.Status</small></span>*@
                                @a.<span style="margin-left:10px">Ordered at:  <small style="color:antiquewhite">@m.Time</small> </span><span style="margin-left:40px"> Date: <small style="color:antiquewhite">@m.Date</small></span> <span style="margin-left:60px" class="align-content-center">Status: <small style="color:antiquewhite">@m.Status</small> </span>

</a>
                        </h4>
                    </div>
                    <div id="collapse-@a" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading-@a">
                        <div class="panel-body">
                            <table class="table">
                                <thead class="thead-light" >
                                    <tr>
                                        <th scope="col"><h4><b>#</b></h4></th>
                                        <th scope="col"><h4><b>Recipe Name</b></h4></th>
                                        <th scope="col"><h4><b>Extras</b></h4></th>
                                        <th scope="col"><h4><b>Quantity</b></h4></th>
                                        <th scope="col"><div class="btn-group">
    <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Change Status
    </button>
   
        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <a class="dropdown-item" href="/Products/StatusAccepted/@m.Id" style="text-decoration:none">Accepted</a><br/>
            <a class="dropdown-item" href="/Products/StatusDelivered/@m.Id" style="text-decoration:none">Delivered</a><br />
            <a class="dropdown-item" href="/Products/StatusDeclined/@m.Id" style="text-decoration:none">Declined</a>
        </div>
   
</div></th>

                                        <th scope="col">
                                        <input type="button" data-id="@m.CustomerId" class="btn btn-primary custDetailBtn" name="name" value="Customer Info" />
                                        </th>
                                    </tr>
                                </thead>
                                @foreach (var o in m.ChefOrderItem)
                                {
                                   
                                    <tbody>
                                        <tr>
                                            <th scope="row"><h4>@b</h4></th>
                                            <td scope="row"><h4>@o.Title</h4></td>
                                            <td><h4>
                                                    @try
                                                    {
                                                        <span>@o.Extras</span>

                                                    }
                                                    catch (Exception)
                                                    {

                                                        <span>None</span>
                                                    }
                                            </h4></td>
                                            <td scope="row"><h4>@o.Quantity</h4></td>
                                            
                                        </tr>


                                    </tbody>
                                    b++;
                                }
                               
                            </table>
                        </div>
                    </div>
                </div>
                   a++;
               }
               
               

            </div>
            <!-- end of #accordion -->

        </div>
        <!-- end of wrap -->


    <!-- end of container -->
</div>

<div id="details">
  

</div>






    @section myScript{


        <script>
            $(document).ready(function () {
                $('.collapse.in').prev('.panel-heading').addClass('active');
                $('#accordion, #bs-collapse')
                    .on('show.bs.collapse', function (a) {
                        $(a.target).prev('.panel-heading').addClass('active');
                    })
                    .on('hide.bs.collapse', function (a) {
                        $(a.target).prev('.panel-heading').removeClass('active');
                    });
               
            });
           
        </script>
        <script>
            $(function () {
                $('.custDetailBtn').click(function () {
                    $('#exampleModalLong').remove();
                    var prodcartId = $(this).attr('data-id');

                    $.ajax(
                        {
                            url: "/users/cutomerdetails/" + prodcartId
                        }
                    ).done(function (result2) {
                        $("#details").html(result2);
                        $('#BtnModal').trigger('click');
                    });
                });
            });
        </script>

    }

