@using Restaurant.ClassLibrary.PakClassified
@using Restaurant.ClassLibrary.UsersMgt
@using Restaurent.Models
@model IEnumerable<FeedbackModel>
@{
    ViewBag.Title = "UserFeedback";
    Layout = "~/Views/Shared/_AdminLayoutPage.cshtml";
    var a = 1;
}

@section myLink{

    <link href="~/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/bootstrap-grid.min.css" rel="stylesheet" />
    <link href="~/css/bootstrap-reboot.min.css" rel="stylesheet" />
    <link href="~/content/bootstrap-theme.min.css" rel="stylesheet" />
    @*<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css" rel='stylesheet' type='text/css'>*@
<link href="~/Content/Admincss/CloudeFlareAwesomeFont440StyleSheet.css" rel="stylesheet" />

    <link href="~/Content/OrderStyleSheet.css" rel="stylesheet" />

}

<div style="margin-top:70px">

    <div class="container">

        <h1 style="color:darkslategrey"><b>Feedbacks</b></h1>
        <div class="panel-group wrap" id="accordion" role="tablist" aria-multiselectable="true">
            @foreach (var m in Model)
            {
                var b = 1;
                <div class="panel">
                    <div class="panel-heading" role="tab" id="heading-@a">
                        <h4 class="panel-title">
                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse-@a" aria-expanded="false" aria-controls="collapse-@a">
                                @a.<span style="margin-left:20px"> Message From: @m.Name <small style="color:antiquewhite; margin-left:10px">(@m.Email)</small></span><span style="margin-left:10px">Time:  @m.SubmittedOn</span> 
                            </a>
                        </h4>
                    </div>
                    <div id="collapse-@a" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading-@a">
                        <div class="panel-body">
                           <h4>@m.Message</h4>
                        </div>
                    </div>
                </div>
                a++;
            }

        </div>
        <!-- end of #accordion -->

    </div>
    <!-- end of wrap -->
    <!-- end of container -->
</div>



@section myScript{

    @*<script src="~/Scripts/jquery-3.2.1.min.js"></script>
    <script src="~/Script/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.6/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
<script src="~/Scripts/Cloudflare1126popper.js"></script>
<script src="~/Scripts/BS400beta2JavaScript.js"></script>*@
    <script>
            $(document).ready(function () {
                $('.collapse.in').prev('.panel-heading').addClass('active');
                $('#accordion, #bs-collapse')
                    .on('show.bs.collapse', function (a) {
                        $(a.target).prev('.panel-heading').addClass('active');
                    })
                    .on('hide.bs.collapse', function (a) {
                        $(a.target).prev('.panel-heading').removeClass('active');
                    });               
            });
    </script>

}









