@using Restaurant.ClassLibrary.ViewModel
@using Restaurent.Models
@{
    UserVM user = (UserVM)Session[WebUtil.CurrentUser];
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <meta charset='UTF-8'>
    <meta name="robots" content="noindex">
    <link rel='stylesheet prefetch' href='~/css/twitter-boostrap-min.less'>
    <link href="~/Content/AdminStyleSheet.css" rel="stylesheet" />
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>

    @RenderSection("myLink", false)
</head>
<body id="adminbody" class="sidebar-is-reduced">
    <header class="l-header">
        <div class="l-header__inner clearfix">
            <div class="c-header-icon js-hamburger">
                <div class="hamburger-toggle"><span class="bar-top"></span><span class="bar-mid"></span><span class="bar-bot"></span></div>
            </div>
            @*<div class="c-header-icon has-dropdown">
                <span class="c-badge c-badge--header-icon animated shake">21</span><i class="fa fa-bell"></i>
                <div class="c-dropdown c-dropdown--notifications">
                    <div class="c-dropdown__header">ADMIN</div>
                    <div class="c-dropdown__content">ADMIN</div>
                </div>
            </div>*@
            <div class="c-search">
                @*<input class="c-search__input u-input" placeholder="Search..." type="text" />*@
                <div style="text-align:center; margin-top:10px; margin-left:550px" class="c-search"><h2><b><span class="glyphicon glyphicon-user"></span> ADMIN</b></h2></div>

            </div>
            <div class="header-icons-group">
                @*<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-user"></span> @currentUser.FullName <span class="caret"></span></a>*@
                <div class="c-header-icon basket">@*<span class="glyphicon glyphicon-user"></span>*@<h6 style="margin-left:5px; text-align:center"> @user.FirstName</h6></div>
                <div class="c-header-icon logout"><a href="/users/logout"><i class="fa fa-power-off"></i></a></div>
            </div>
        </div>
    </header>
    <div class="l-sidebar">
        <div class="logo">
            <div class="logo__txt">A</div>
        </div>
        <div class="l-sidebar__content">
            <nav class="c-menu js-menu">
                <ul class="u-list">

                    <li class="c-menu__item is-active" data-toggle="tooltip" title="Users">
                        <a href="/ADMIN/UserManagement">
                            <div class="c-menu__item__inner">
                                <i class="fa fa-user"></i>
                                <div class="c-menu-item__title"><span>Users</span></div>
                            </div>

                        </a>



                    </li>
                    <li class="c-menu__item " data-toggle="tooltip" title="Classes">
                        <a href="/Admin/ClassManagement">
                            <div class="c-menu__item__inner">
                                <i class="fa fa-paperclip"></i>

                                <div class="c-menu-item__title"><span>Classes</span></div>
                            </div>
                        </a>
                    </li>
                    <li class="c-menu__item " data-toggle="tooltip" title="Subjects">
                        <a href="/Admin/SubjectManagement">
                            <div class="c-menu__item__inner">
                                <i class="fa fa-edit"></i>
                                <div class="c-menu-item__title"><span>Subjects</span></div>
                            </div>
                        </a>
                    </li>
                    <li class="c-menu__item " data-toggle="tooltip" title="Students">
                        <a href="/Admin/StudentManagement">
                            <div class="c-menu__item__inner">
                                <i class="fa fa-graduation-cap"></i>
                                <div class="c-menu-item__title"><span>Students</span></div>
                            </div>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    <div>
        @if (TempData["UserMessage"] != null)
        {
            var message = (MessageVM)TempData["UserMessage"];

            <div id="infoi">
                <div class="alert @message.CssClassName alert-dismissible alertDiv">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    <strong>@message.Title</strong> @message.Message
                </div>
            </div>
        }

        <div id="navi">
            @RenderBody()
        </div>
    </div>
    <script src="~/Scripts/jquery-3.2.1.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/bootstrap.bundle.min.js"></script>
    @*<script src='https://production-assets.codepen.io/assets/common/stopExecutionOnTimeout-b2a7b3fe212eaa732349046d8416e00a9dec26eb7fd347590fbced3ab38af52e.js'></script>*@
    <script src='~/js/fontawesome.js'></script>
    <script>
        "use strict";

        var Dashboard = function () {
            var global = {
                tooltipOptions: {
                    placement: "right"
                },
                menuClass: ".c-menu"
            };

            var menuChangeActive = function menuChangeActive(el) {
                var hasSubmenu = $(el).hasClass("has-submenu");
                $(global.menuClass + " .is-active").removeClass("is-active");
                $(el).addClass("is-active");

                // if (hasSubmenu) {
                // 	$(el).find("ul").slideDown();
                // }
            };

            var sidebarChangeWidth = function sidebarChangeWidth() {
                var $menuItemsTitle = $("li .menu-item__title");

                $("body").toggleClass("sidebar-is-reduced sidebar-is-expanded");
                $(".hamburger-toggle").toggleClass("is-opened");

                if ($("body").hasClass("sidebar-is-expanded")) {
                    $('[data-toggle="tooltip"]').tooltip("destroy");
                } else {
                    $('[data-toggle="tooltip"]').tooltip(global.tooltipOptions);
                }
            };

            return {
                init: function init() {
                    $(".js-hamburger").on("click", sidebarChangeWidth);

                    $(".js-menu li").on("click", function (e) {
                        menuChangeActive(e.currentTarget);
                    });

                    $('[data-toggle="tooltip"]').tooltip(global.tooltipOptions);
                }
            };
        }();

        Dashboard.init();
        //# sourceURL=pen.js
    </script>

    @RenderSection("myScript", false)


    <!-- This is data table -->
    @*<script src="~/Scripts/AdminJavascript/jquery.dataTables.min.js"></script>*@
    <!-- start - This is for export functionality only -->
    <script src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js" type="text/javascript"></script>

    <script src="https://cdn.datatables.net/buttons/1.2.2/js/dataTables.buttons.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.2.2/js/buttons.flash.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/2.5.0/jszip.min.js"></script>
    <script src="https://cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/pdfmake.min.js"></script>
    <script src="https://cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.2.2/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.2.2/js/buttons.print.min.js"></script>
    <!-- end - This is for export functionality only -->
    <script>
        $(document).ready(function () {
            $('#myTable').DataTable();
            $(document).ready(function () {
                var table = $('#example').DataTable({
                    "columnDefs": [{
                        "visible": false,
                        "targets": 2
                    }],
                    "order": [
                        [2, 'asc']
                    ],
                    "displayLength": 25,
                    "drawCallback": function (settings) {
                        var api = this.api();
                        var rows = api.rows({
                            page: 'current'
                        }).nodes();
                        var last = null;
                        api.column(2, {
                            page: 'current'
                        }).data().each(function (group, i) {
                            if (last !== group) {
                                $(rows).eq(i).before('<tr class="group"><td colspan="5">' + group + '</td></tr>');
                                last = group;
                            }
                        });
                    }
                });
                // Order by the grouping
                $('#example tbody').on('click', 'tr.group', function () {
                    var currentOrder = table.order()[0];
                    if (currentOrder[0] === 2 && currentOrder[1] === 'asc') {
                        table.order([2, 'desc']).draw();
                    } else {
                        table.order([2, 'asc']).draw();
                    }
                });
            });
        });
        $('#datatable').DataTable({
            dom: 'Bfrtip',
            buttons: [
                'copy', 'csv', 'excel', 'pdf', 'print'
            ]
        });
    </script>
</body>
</html>

